* {
    padding: 0;
    margin: 0;
}
#canvas1{
    background-image: "background.png";
    width: innerWidth;
    height: innerHeigh;
    border: 1px black solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
#game{
    width: 750px;
    height: 200px;
    border: 1px solid black;
}
#character{
    width: 30px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    position: relative;
    top: 150px;
    
}
#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 730px;
    animation: block 1s infinite linear;
}
.animate{
    animation: jump 700ms;
}
@keyframes block{
    0%{left: 730px;}
    100%{left:-40px;}
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 60px;}
    70%{top: 60px;}
    100%{top: 150px;}
}*/